@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html, body {
  background-color: #f8fafc;
  color: #1e293b;
  transition-property: color, background-color;
  transition-duration: 300ms;
}

.dark html, .dark body {
  background-color: #020617;
  color: #f8fafc;
}